.container {
	.cont {
		padding:10px;
		margin: $defmar2;
		text-align:center;
		background-color:$white;
		border-radius: 10px;

		span {
			color: $orange;
		}
	}
	.navbar {
		left: 0px;
		top: 45px;
		a {
			font-size: 20px;
		}
	}

	.evolution {
		padding:10px;
		text-align:center;
		background-color:$orange;
		border-radius: 10px;

		h1 {
			span {
				color:$bgcolor;
			}
		}
	}
}
