@mixin mess { 
	padding:10px;
	width: 100%;
	text-align: center;
	border-radius: 10px;
	background-color: $white;
}

@mixin btn {
	margin-bottom: 10px;
	width: 120px;
	display:block;
	margin-left: auto;
	margin-right: auto;
}

.jumbotron {
	margin-top:20px;
	
	.container {
		width: 100%;
		
		span {
				color: $orange;

			}
		.mess {
			@include mess;

			.btn {
				@include btn;
			}
		}
	}
}

.container {
	width: 100%;
	
	span {
			color: $orange;
		}
	.mess {
		@include mess;
		
		.btn {
			@include btn;
		}
	}
}
