@mixin options {
	padding: $chpad;
	border-radius: 10px;
	color: white;
	margin:$optmar;
	text-align:center;
	background-color:$orange;
}

.question {
	margin: $quesmar;
	text-align:center;
	border:1px solid $orange;
	border-radius: 10px;
	background-color:$white;
	padding: 25px;
	@include box-shadow(red 2px 2px 10px);
}

#option-1 {
	@include options;
	@include box-shadow(red 2px 2px 10px);
}

#option-2 {
	@include options;
	@include box-shadow(red 2px 2px 10px);
}

#option-3 {
	@include options;
	@include box-shadow(red 2px 2px 10px);
}