/* Navigation Bar */

.navigation {
	position:fixed;
	top:49px;
	left:0px;
	height:100%;
	width:280px;
	background-color: $black;
	-webkit-transform: translate(-100%, 0);
	-webkit-transition: all 1s ease;

	nav {
		a {
			color:$white;
			font-size:20px;
			display:block;
			text-decoration:none;
			padding: 15px 30px;
		}

	}
	.show {
		@include icons-sprite(show);
		height:60px;
		width:32px;
		position:absolute;
		top:31%;
		left:280px;
	}
}

/* Contents of the page */


.contain {
	margin: 13px;

	.definition {
		padding:10px;
		margin: $defmar2;
		text-align:center;
		background-color:$white;
		border-radius: 10px;

		span {
			color:$orange;
		}
	}

	.printScreen {
		padding:10px;
		overflow: auto;
		margin: $defmar2;
		text-align:center;
		background-color:$white;
		border-radius: 10px;
		text-align: center;
	}

	h2 {
		span {
			color:$white;
		}
	}
}