/* line 122, icons/*.png */
.icons-sprite, .icons-correct, .icons-history, .icons-home, .icons-htmlicon, .icons-htmltag, .icons-login, .icons-next, .icons-prev, .icons-quiz, .icons-show, .icons-wrong, .check, .cross, .navigation .show, .header .nav #home, .header .nav #history, .header .nav #quiz, .header .nav #htmltags, .header .nav #usericon {
  background: url('../images/icons-scf176cbefc.png') no-repeat;
}

/* line 60, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-correct {
  background-position: 0 0;
}

/* line 60, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-history {
  background-position: -64px 0;
}

/* line 60, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-home {
  background-position: -96px 0;
}

/* line 60, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-htmlicon {
  background-position: -128px 0;
}

/* line 60, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-htmltag {
  background-position: -150px 0;
}

/* line 60, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-login {
  background-position: -182px 0;
}

/* line 60, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-next {
  background-position: -214px 0;
}

/* line 60, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-prev {
  background-position: -278px 0;
}

/* line 60, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-quiz {
  background-position: -342px 0;
}

/* line 60, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-show {
  background-position: -374px 0;
}

/* line 60, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-wrong {
  background-position: -406px 0;
}

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/quiz-intro.scss */
.jumbotron {
  margin-top: 20px;
}
/* line 3, ../sass/quiz-intro.scss */
.jumbotron .container {
  width: 100%;
}
/* line 6, ../sass/quiz-intro.scss */
.jumbotron .container span {
  color: #ff7f00;
}
/* line 9, ../sass/quiz-intro.scss */
.jumbotron .container .mess {
  padding: 10px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  /*text-align: left;*/
  background-color: white;
  /*margin: $quesmar;*/
  /*line-height: 1.5em;*/
}
/* line 19, ../sass/quiz-intro.scss */
.jumbotron .container .mess .btn {
  margin-bottom: 10px;
  width: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 30, ../sass/quiz-intro.scss */
.container {
  width: 100%;
}
/* line 33, ../sass/quiz-intro.scss */
.container span {
  color: #ff7f00;
}
/* line 36, ../sass/quiz-intro.scss */
.container .mess {
  padding: 10px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  /*text-align: left;*/
  background-color: white;
  /*margin: $quesmar;*/
  /*line-height: 1.5em;*/
}
/* line 46, ../sass/quiz-intro.scss */
.container .mess .btn {
  margin-bottom: 10px;
  width: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 3, ../sass/history.scss */
.container .cont {
  padding: 10px;
  margin: 30px auto;
  text-align: center;
  background-color: white;
  border-radius: 10px;
}
/* line 10, ../sass/history.scss */
.container .cont span {
  color: #ff7f00;
}
/* line 14, ../sass/history.scss */
.container .cont h2 {
  font-size: 20px;
}
/* line 18, ../sass/history.scss */
.container .navbar {
  /*width: 100%;
  height: 45px;
  background-color: $black;
  margin-bottom:10px;*/
  /*position: fixed;*/
  left: 0px;
  top: 45px;
  /*font-size: 16px;*/
  /*z-index: 9999;*/
  /*.con {*/
  /*margin: 16px auto;*/
  /*width: 700px;*/
  /*word-spacing: 2em;*/
  /*ul {
  	li {
  		color: white;
  		display: inline-block;
  	}
  }*/
  /*}*/
  /*ul {
  	li {
  		color: white;
  		display: inline-block;
  	}
  }*/
}
/* line 45, ../sass/history.scss */
.container .navbar a {
  font-size: 20px;
}
/* line 50, ../sass/history.scss */
.container .evolution {
  padding: 10px;
  /*margin: $defmar2;*/
  text-align: center;
  background-color: #ff7f00;
  border-radius: 10px;
}
/* line 57, ../sass/history.scss */
.container .evolution h1 {
  font-size: 30px;
}
/* line 59, ../sass/history.scss */
.container .evolution h1 span {
  color: deepskyblue;
}

/* line 1, ../sass/quiz.scss */
body {
  background-color: deepskyblue;
}

/* line 6, ../sass/quiz.scss */
.container {
  width: 100%;
}
/* line 9, ../sass/quiz.scss */
.container .question {
  /*width:600px;*/
  /*height:50px;*/
  margin: 50px auto;
  text-align: center;
  border: 1px solid #ff7f00;
  border-radius: 10px;
  background-color: white;
  padding: 25px;
  -webkit-box-shadow: red 2px 2px 10px;
  -moz-box-shadow: red 2px 2px 10px;
  box-shadow: red 2px 2px 10px;
}
/* line 21, ../sass/quiz.scss */
.container #option-1 {
  /*width:400px;*/
  /*height:50px;*/
  padding: 20px;
  border-radius: 10px;
  color: white;
  margin: 10px auto;
  text-align: center;
  background-color: #ff7f00;
  -webkit-box-shadow: red 2px 2px 10px;
  -moz-box-shadow: red 2px 2px 10px;
  box-shadow: red 2px 2px 10px;
  position: relative;
}
/* line 34, ../sass/quiz.scss */
.container #option-2 {
  /*width:400px;*/
  /*height:50px;*/
  padding: 20px;
  border-radius: 10px;
  color: white;
  margin: 10px auto;
  text-align: center;
  background-color: #ff7f00;
  -webkit-box-shadow: red 2px 2px 10px;
  -moz-box-shadow: red 2px 2px 10px;
  box-shadow: red 2px 2px 10px;
}
/* line 47, ../sass/quiz.scss */
.container #option-3 {
  /*width:400px;*/
  /*height:50px;*/
  padding: 20px;
  border-radius: 10px;
  color: white;
  margin: 10px auto;
  text-align: center;
  background-color: #ff7f00;
  -webkit-box-shadow: red 2px 2px 10px;
  -moz-box-shadow: red 2px 2px 10px;
  box-shadow: red 2px 2px 10px;
}

/* line 61, ../sass/quiz.scss */
.current {
  width: 400px;
  height: 50px;
  border-radius: 10px;
  color: #ff7f00;
  margin: 10px auto;
  background-color: white;
  -webkit-box-shadow: red 2px 2px 10px;
  -moz-box-shadow: red 2px 2px 10px;
  box-shadow: red 2px 2px 10px;
}

/* line 2, ../sass/quiz-done.scss */
.check {
  background-position: 0 0;
  height: 64px;
  width: 64px;
}

/* line 8, ../sass/quiz-done.scss */
.cross {
  background-position: -406px 0;
  height: 64px;
  width: 64px;
}

/* line 17, ../sass/quiz-done.scss */
.container h1 span {
  color: #ff7f00;
}
/* line 23, ../sass/quiz-done.scss */
.container .y .check {
  display: inline-block;
}
/* line 27, ../sass/quiz-done.scss */
.container .y .messONe {
  display: inline-block;
}
/* line 33, ../sass/quiz-done.scss */
.container .x .cross {
  display: inline-block;
}
/* line 37, ../sass/quiz-done.scss */
.container .x .messTwo {
  display: inline-block;
}
/* line 42, ../sass/quiz-done.scss */
.container .button {
  margin-top: 5px;
}
/* line 46, ../sass/quiz-done.scss */
.container .Answers {
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  display: none;
  font-size: 16px;
}

/* line 1, ../sass/tags.scss */
.navigation {
  position: fixed;
  top: 49px;
  left: 0px;
  height: 100%;
  width: 280px;
  background-color: black;
  -webkit-transform: translate(-100%, 0);
  -webkit-transition: all 1s ease;
}
/* line 14, ../sass/tags.scss */
.navigation nav a {
  color: white;
  font-size: 20px;
  display: block;
  text-decoration: none;
  /*border-bottom:1px solid $white;*/
  padding: 15px 30px;
}
/* line 24, ../sass/tags.scss */
.navigation .show {
  background-position: -374px 0;
  height: 60px;
  width: 32px;
  position: absolute;
  top: 31%;
  left: 280px;
}

/* line 34, ../sass/tags.scss */
.contain {
  margin: 13px;
}

/* line 39, ../sass/tags.scss */
.contain .definition {
  padding: 10px;
  margin: 30px auto;
  text-align: center;
  background-color: white;
  border-radius: 10px;
}
/* line 46, ../sass/tags.scss */
.contain .definition span {
  color: #ff7f00;
}

/* line 53, ../sass/tags.scss */
.contain h1 span {
  color: white;
}

/* line 60, ../sass/tags.scss */
.contain .printScreen {
  padding: 10px;
  height: 300px;
  width: 300px;
  margin: 30px auto;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

/* line 73, ../sass/tags.scss */
.contain .pageHeader {
  margin-top: 20px;
}

/* line 11, ../sass/app.scss */
body {
  background-color: deepskyblue;
  font-family: 'Varela Round', sans-serif;
}

/* line 16, ../sass/app.scss */
.container {
  width: 100%;
  margin-top: 50px;
}
/* line 20, ../sass/app.scss */
.container .con {
  width: 100%;
  margin: 0px auto;
}
/* line 24, ../sass/app.scss */
.container .con .logo {
  width: 212px;
  margin: 30px auto;
}

/* line 31, ../sass/app.scss */
.clearfix {
  clear: both;
}

/* line 35, ../sass/app.scss */
.header {
  width: 100%;
  height: 45px;
  background-color: black;
  color: white;
  margin-bottom: 10px;
  position: fixed;
  top: 0;
  z-index: 9999;
}
/* line 45, ../sass/app.scss */
.header .nav {
  width: 355px;
  top: 5px;
  margin: auto;
  position: relative;
  font-size: 10px;
}
/* line 52, ../sass/app.scss */
.header .nav #home {
  background-position: -96px 0;
  height: 32px;
  width: 32px;
  display: inline-block;
  margin-left: 50px;
  margin-right: 20px;
  opacity: .25;
}
/* line 62, ../sass/app.scss */
.header .nav #history {
  background-position: -64px 0;
  height: 32px;
  width: 32px;
  display: inline-block;
  /*margin-left: 20px;*/
  margin-right: 20px;
  opacity: .25;
}
/* line 72, ../sass/app.scss */
.header .nav #quiz {
  background-position: -342px 0;
  height: 32px;
  width: 32px;
  display: inline-block;
  /*margin-left: 20px;*/
  margin-right: 20px;
  opacity: .25;
}
/* line 82, ../sass/app.scss */
.header .nav #htmltags {
  background-position: -150px 0;
  height: 32px;
  width: 32px;
  display: inline-block;
  /*margin-left: 20px;*/
  margin-right: 20px;
  opacity: .25;
}
/* line 92, ../sass/app.scss */
.header .nav #usericon {
  background-position: -182px 0;
  height: 32px;
  width: 32px;
  display: inline-block;
  /*margin-left: 20px;*/
  /*margin-right: 20px;*/
  opacity: .25;
  top: 5px;
}
/* line 103, ../sass/app.scss */
.header .nav #WelcomeM {
  display: inline-block;
  position: relative;
  top: -20px;
}
/* line 110, ../sass/app.scss */
.header .nav #LogOut {
  display: inline-block;
  position: relative;
  top: -2px;
  left: -65px;
}

/* line 121, ../sass/app.scss */
.content {
  /*width:500px;*/
  /*height:170px;*/
  padding: 10px;
  margin: 30px auto;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  /*font-size:30px;*/
  /*p {
  	font-size: 12px;
  }*/
}
/* line 131, ../sass/app.scss */
.content span {
  color: #ff7f00;
}
/* line 135, ../sass/app.scss */
.content p {
  font-size: 25px;
}

/* line 144, ../sass/app.scss */
.footer {
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  margin-top: 30px;
}
/* line 151, ../sass/app.scss */
.footer .f-con {
  width: 450px;
  margin: auto;
  font-size: 15px;
  top: 15px;
  position: relative;
}
/* line 158, ../sass/app.scss */
.footer .f-con span {
  color: #ff7f00;
}
/* line 162, ../sass/app.scss */
.footer .f-con a:link {
  text-decoration: none;
  color: #ff7f00;
}
/* line 167, ../sass/app.scss */
.footer .f-con a:visited {
  text-decoration: none;
  color: #ff7f00;
}

/* line 174, ../sass/app.scss */
.modal-dialog {
  margin-top: 100px;
}
/* line 176, ../sass/app.scss */
.modal-dialog .modal-content {
  text-align: center;
}
